// Generic styles
%card-shared {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

%base-color-scheme {
    --background: var(--ion-color-light);
    --border-color: var(--ion-color-medium);
    --ion-color-base: #fff;
    --ion-color-contrast: #000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-rgb: 255, 255, 255;
    --ion-color-shade: #eee;
    --ion-color-tint: #f5f5f5;
}

// Header section
ion-header {
    box-shadow: none;

    ion-toolbar {

        ion-item {
            --background: transparent;

            ion-label {
                font-size: var(--font-size-small);
                color: lightgray;
            }

            p {
                color: white;
                font-size: var(--font-size-title);
                font-weight: bold;
                display: flex;
                align-items: center;

                ion-text {
                    padding-left: 5px;
                }

                ion-icon {
                    font-size: var(--icon-size-small);
                }
            }

            ion-button[slot="end"] {
                --background: rgba(225, 225, 225, 0.2);
                box-shadow: 0, 4px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                ion-icon {
                    font-size: var(--icon-size-medium);
                    padding: 5px 0;
                }
            }

        }
    }
}

// Content area 
ion-content {
    --background: var(--ion-color-light);
    --ion-color-base: #fff;
    --ion-color-contrast: #000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-rgb: 255, 255, 255;
    --ion-color-shade: #eee;
    --ion-color-tint: #f5f5f5;

    .empty-search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding: 10px;

        .empty-search-card {
            @extend %card-shared;
            width: 100%;
            max-width: 500px;
            text-align: center;
            --background: var(--ion-color-light);
            padding: 30px 20px;

            .empty-search-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .empty-search-icon {
                    font-size: 30px;
                }

                .empty-search-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0;
                }

                .empty-search-text {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}

// List & Item 
ion-list,
ion-item {
    @extend %base-color-scheme;
}

// SearchBar and Button
ion-row.search-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 12px;

    ion-col {
        display: flex;
        height: 48px;
        padding: 0 4px;

        // SearchBar
        &.search-col {
            flex: 1;
            max-width: 90%;

            ion-searchbar {
                --box-shadow: none;
                --background: rgba(255, 255, 255, 0.9);
                --border-radius: 8px;
                --color: #333;
                --icon-color: #666;
                height: 100%;
                padding: 0;
            }
        }

        // Button
        &.btn-col {
            justify-content: flex-end;
            max-width: 10%;

            .search-btn {
                --padding-start: 6px;
                --padding-end: 6px;
                --border-radius: 8px;
                --background: rgba(255, 255, 255, 0.9);
                height: 40px;
                width: 40px;
                margin: auto;

                ion-icon {
                    font-size: 22px;
                    color: #ffffff;
                }

                &[disabled] {
                    opacity: 0.5;
                }
            }
        }
    }
}

// Card Content
ion-card-content {
    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;

        .left-card {
            flex: 1;
        }

        .right-card {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        ion-icon {
            font-size: 24px;
            cursor: pointer;
        }
    }
}