<!-- src/app/tabs/tab1/tab1.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Item Management
        <p>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Search</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
      <ion-button slot="end" (click)="openHelpModel()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="notification">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar debounce="800" color="light" #searchInput inputmode="search" class="srchBar" mode="ios"
          [(ngModel)]="searchTerm" (ionChange)="searchItems()" placeholder="Search">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-modal [isOpen]="helpModelStatu">
    <ng-template>
      <ion-button (click)="closeHelpModel()">Return</ion-button>
      <ion-card class="help-card">
        <ion-card-header>
          <ion-card-title>HELP</ion-card-title>
          <ion-card-subtitle>Search</ion-card-subtitle>
          <ion-content></ion-content>
        </ion-card-header>
      </ion-card>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-card-title>{{ item.item_name }}</ion-card-title>
          <ion-card-subtitle>Item ID: {{ item.item_id }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="card-container">
            <div class="left-card">
              <p>Category: {{ item.category }}</p>
              <p>Quantity: {{ item.quantity }}</p>
              <p>Price: ${{ item.price }}</p>
              <p>Supplier: {{ item.supplier_name }}</p>
              <p>Stock Status: {{ item.stock_status }}</p>
              <p *ngIf="item.special_note">Special Note: {{ item.special_note }}</p>
            </div>
            <!--Featured-->
            <div class="right-card">
              <ion-icon [name]="item.featured_item === 1 ? 'star' : 'star-outline'" color="warning"
                class="featured-star"></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-list>
</ion-content>