<!--This is the header of the Home page (tab1) and the search page (tab2)-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Welcome
        <p>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Item Management</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="notification">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar debounce="800" color="light" #searchInput inputmode="search" class="srchBar" mode="ios"
          placeholder="Search" routerLink="/tabs/tab2">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!--Overview: To be modify-->
<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Item Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Total Items: {{ items.length }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <!--统计Featured Item 的数量-->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Featured Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Total Featured Items: {{ featuredCount }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <!--以此类推，对一些数据进行统计， 如果技术支持的话，可以放一张统计表，统计每一个Category的item的数量柱状图-->
</ion-content>