<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Item Management
        <p>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Manage</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="notification">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="sideMenuStatu? closeMenu() : openMenu()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" contentId="main-content" swipeGesture="false">
    <ion-content>
      <ion-list>
        <ion-item button (click)="switchView('overview'); closeMenu()">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          <ion-label>Overview</ion-label>
        </ion-item>
        <ion-item button (click)="switchView('modify'); closeMenu()">
          <ion-icon slot="start" name="construct-outline"></ion-icon>
          <ion-label>Modify (Update/Delete)</ion-label>
        </ion-item>
        <ion-item button (click)="switchView('add'); closeMenu()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          <ion-label>Add</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content" class="ion-page">
    <ion-header>
      <h1 *ngIf="sidebarView === 'overview'">Overview</h1>
      <h1 *ngIf="sidebarView === 'modify'">Modify Items</h1>
      <h1 *ngIf="sidebarView === 'add'">Add New Item</h1>
    </ion-header>

    <!--Overview 视图-->
    <ion-content>
      <div *ngIf="sidebarView === 'overview'">
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-card-title>{{item.item_name}}</ion-card-title>
            <ion-card-subtitle>ID: {{item.item_id}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="card-container">
              <div class="left-card">
                <p>Category: {{ item.category }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Supplier: {{ item.supplier_name }}</p>
                <p>Stock Status: {{ item.stock_status }}</p>
                <p *ngIf="item.special_note">Special Note: {{ item.special_note }}</p>
              </div>
              <!--Featured-->
              <div class="right-card">
                <ion-icon [name]="item.featured_item === 1 ? 'star' : 'star-outline'" color="warning"
                  class="featured-star"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <!--修改视图-->
      <div *ngIf="sidebarView === 'modify'">
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-card-title>{{item.item_name}}</ion-card-title>
            <ion-card-subtitle>ID: {{item.item_id}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="card-container">
              <div class="left-card">
                <p>Category: {{ item.category }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Supplier: {{ item.supplier_name }}</p>
                <p>Stock Status: {{ item.stock_status }}</p>
                <p *ngIf="item.special_note">Special Note: {{ item.special_note }}</p>
              </div>
              <!--Featured-->
              <div class="right-card">
                <ion-icon [name]="item.featured_item === 1 ? 'star' : 'star-outline'" color="warning"
                  class="featured-star"></ion-icon>
              </div>
            </div>

            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button (click)="selectItem(item)" expand="block" color="primary">UPDATE</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button (click)="deletePrompt(item.item_name)" expand="block" color="primary">DELETE</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <!--模态窗口，用于Update Form-->
        <ion-modal [isOpen]="updateModelStatu">
          <ng-template>
            <ion-card *ngIf="checkedItem" class="update-form-card">
              <ion-card-header>
                <ion-card-title class="update-form-title">Update Form</ion-card-title>
              </ion-card-header>
              <form (ngSubmit)="updateItem()" class="update-form">
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Item Name</ion-label>
                  <ion-input [(ngModel)]="checkedItem.item_name" name="item_name" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Item ID</ion-label>
                  <ion-input [(ngModel)]="checkedItem.item_id" name="item_id" required class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Category</ion-label>
                  <ion-select [(ngModel)]="checkedItem.category" name="category" required class="form-select">
                    <ion-select-option value="Electronics">Electronics</ion-select-option>
                    <ion-select-option value="Furniture">Furniture</ion-select-option>
                    <ion-select-option value="Clothing">Clothing</ion-select-option>
                    <ion-select-option value="Tools">Tools</ion-select-option>
                    <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Quantity</ion-label>
                  <ion-input type="number" [(ngModel)]="checkedItem.quantity" name="quantity" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Price</ion-label>
                  <ion-input type="number" [(ngModel)]="checkedItem.price" name="price" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Supplier</ion-label>
                  <ion-input [(ngModel)]="checkedItem.supplier_name" name="supplier_name" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Stock Status</ion-label>
                  <ion-select [(ngModel)]="checkedItem.stock_status" name="stock_status" required class="form-select">
                    <ion-select-option value="In stock">In Stock</ion-select-option>
                    <ion-select-option value="Low stock">Low Stock</ion-select-option>
                    <ion-select-option value="Out of stock">Out of Stock</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Feature</ion-label>
                  <ion-select [(ngModel)]="checkedItem.featured_item" name="featured_item" required class="form-select">
                    <ion-select-option [value]="0">Normal</ion-select-option>
                    <ion-select-option [value]="1">Featured</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Special Note</ion-label>
                  <ion-input [(ngModel)]="checkedItem.special_note" name="special_note" class="form-input"></ion-input>
                </ion-item>
                <div class="form-buttons">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                        <ion-button type="submit" expand="block" class="submit-button">Update Item</ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button (click)="closeUpdateModel()" expand="block" class="cancel-button">Close</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>


                </div>
              </form>
            </ion-card>
          </ng-template>
        </ion-modal>
      </div>
      <div *ngIf="sidebarView === 'add'">
        <ion-card>
          <ion-card-header>Add Form</ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="addNewItem()">
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Item Name</ion-label>
                <ion-input [(ngModel)]="newItem.item_name" name="item_name" required class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Item ID</ion-label>
                <ion-input [(ngModel)]="newItem.item_id" name="item_id" required class="form-input"
                  type="number"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Category</ion-label>
                <ion-select [(ngModel)]="newItem.category" name="category" required class="form-select">
                  <ion-select-option value="Electronics">Electronics</ion-select-option>
                  <ion-select-option value="Furniture">Furniture</ion-select-option>
                  <ion-select-option value="Clothing">Clothing</ion-select-option>
                  <ion-select-option value="Tools">Tools</ion-select-option>
                  <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Quantity</ion-label>
                <ion-input type="number" [(ngModel)]="newItem.quantity" name="quantity" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Price</ion-label>
                <ion-input type="number" [(ngModel)]="newItem.price" name="price" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Supplier</ion-label>
                <ion-input [(ngModel)]="newItem.supplier_name" name="supplier_name" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Stock Status</ion-label>
                <ion-select [(ngModel)]="newItem.stock_status" name="stock_status" required class="form-select">
                  <ion-select-option value="In stock">In Stock</ion-select-option>
                  <ion-select-option value="Low stock">Low Stock</ion-select-option>
                  <ion-select-option value="Out of stock">Out of Stock</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Feature</ion-label>
                <ion-select [(ngModel)]="newItem.featured_item" name="featured_item" required class="form-select">
                  <ion-select-option [value]="0">Normal</ion-select-option>
                  <ion-select-option [value]="1">Featured</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Special Note</ion-label>
                <ion-input [(ngModel)]="newItem.special_note" name="special_note" class="form-input"></ion-input>
              </ion-item>
              <ion-button type="submit" expand="block">Add Item</ion-button>
            </form>
          </ion-card-content>
        </ion-card>

      </div>
    </ion-content>
  </div>
</ion-content>