<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Item Management
        <!--The Logo and Page Name on the upper left side of the header-->
        <p>
          <ion-icon name="logo-angular"></ion-icon>
          <ion-text>Manage</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
      <!--The Help and Information small buttons in the Header are used to open the Help Modal and Information Modal-->
      <ion-button slot="end" (click)="openHelpModel()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="notification">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <!--The button used to control the Menu on the left-->
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="sideMenuStatu? closeMenu() : openMenu()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <!--Help Modal-->
  <ion-modal [isOpen]="helpModelStatu">
    <ng-template>
      <!--Return Button-->
      <ion-toolbar color="primary">
        <ion-button (click)="closeHelpModel()">
          <ion-icon name="return-down-back-outline">Return</ion-icon>
        </ion-button>
      </ion-toolbar>
      <ion-content>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Manage Help Page</ion-title>
          </ion-toolbar>
        </ion-header>
        <!--The Help content of the tab page-->
        <!--Page Usage-->
        <ion-card>
          <ion-card-header>
            <ion-card-title>USAGE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Here is how to use this page:</p>
            <p><strong>1. Side Menu Button</strong></p>
            <p>Open and close the side menu</p>
            <p><strong>2. Overview Button(side menu)</strong></p>
            <p>Display all current items and be used for the jump after a new item is successfully added</p>
            <p><strong>3. Modify Button(side menu)</strong></p>
            <p>Render the interface used for updating and deleting items</p>
            <p><strong>4. Add Button(side menu)</strong></p>
            <p>Render the interface used for adding new items</p>
            <p><strong>5. Update Button(Modify)</strong></p>
            <p>Modify Interface:The Update Modal(Form) used to trigger the checked item</p>
            <p>Modify Interface->Update Form: Used for submitting the updated item</p>
            <p><strong>6. Delete Button(Modify)</strong></p>
            <p>Used to delete the checked item</p>
            <p><strong>7. Add Button(Add)</strong></p>
            <p>Add a new item</p>
            <p><strong>8. PopUp Window</strong></p>
            <p>When a data verification error occurs, an item is added successfully, or an item is selected to be
              deleted, a
              corresponding pop-up window will appear to prompt the user</p>
            <p><strong>9. Navigation</strong></p>
            <p>Click on the navigation bar at the bottom of the page to go to the page you want</p>
            <p><strong>10. Help Button</strong></p>
            <p>Go to the Help page, The Help content is different for each page</p>
          </ion-card-content>
        </ion-card>
        <!--Page Problem and Solving-->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Problem and Solving</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>
                  <h3>Problem 1: There are many items with incorrect data in the Overview interface</h3>
                  <p>Because this app uses a shared database, every student can manage items on it. However, the data
                    verification of some
                    students may have problems, so items with incorrect data may appear</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Problem 2: Why can't the Item ID be entered in the Add interface?</h3>
                  <p>Because the database ID of this app is auto-incrementing, even if users fill in the ID themselves,
                    it will be
                    overwritten as auto-incrementing.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Problem 3: Why can't the name of Item Laptop be modified and why can't this item be deleted?</h3>
                  <p>Because some administrative permissions of this item have been locked.</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Problem 4: Why are the ID and Name in the update form locked?</h3>
                  <p>It's also a matter of permission.</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <!--Contact information of the person in charge-->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>If you think there are still problems with this page, you can contact me through the following ways:</p>
            <p><strong>WeChat</strong></p>
            <p>wxid_639m9rswbdmi22</p>
            <p><strong>Phone:</strong></p>
            <p>+86 18179025638</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content>
  <!---->
  <ion-menu side="start" contentId="main-content" swipeGesture="false">
    <ion-content>
      <ion-list>
        <ion-item button (click)="switchView('overview'); closeMenu()">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          <ion-label>Overview</ion-label>
        </ion-item>
        <ion-item button (click)="switchView('modify'); closeMenu()">
          <ion-icon slot="start" name="construct-outline"></ion-icon>
          <ion-label>Modify (Update/Delete)</ion-label>
        </ion-item>
        <ion-item button (click)="switchView('add'); closeMenu()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          <ion-label>Add</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content" class="ion-page">
    <ion-header>
      <h1 *ngIf="sidebarView === 'overview'">Overview</h1>
      <h1 *ngIf="sidebarView === 'modify'">Modify Items</h1>
      <h1 *ngIf="sidebarView === 'add'">Add New Item</h1>
    </ion-header>

    <!--Overview 视图-->
    <ion-content>
      <div *ngIf="sidebarView === 'overview'">
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-card-title>{{item.item_name}}</ion-card-title>
            <ion-card-subtitle>ID: {{item.item_id}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="card-container">
              <div class="left-card">
                <p>Category: {{ item.category }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Supplier: {{ item.supplier_name }}</p>
                <p>Stock Status: {{ item.stock_status }}</p>
                <p *ngIf="item.special_note">Special Note: {{ item.special_note }}</p>
              </div>
              <!--Featured-->
              <div class="right-card">
                <ion-icon [name]="item.featured_item === 1 ? 'star' : 'star-outline'" color="warning"
                  class="featured-star"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <!--修改视图-->
      <div *ngIf="sidebarView === 'modify'">
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-card-title>{{item.item_name}}</ion-card-title>
            <ion-card-subtitle>ID: {{item.item_id}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="card-container">
              <div class="left-card">
                <p>Category: {{ item.category }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Supplier: {{ item.supplier_name }}</p>
                <p>Stock Status: {{ item.stock_status }}</p>
                <p *ngIf="item.special_note">Special Note: {{ item.special_note }}</p>
              </div>
              <!--Featured-->
              <div class="right-card">
                <ion-icon [name]="item.featured_item === 1 ? 'star' : 'star-outline'" color="warning"
                  class="featured-star"></ion-icon>
              </div>
            </div>

            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button (click)="selectItem(item)" expand="block" color="primary">UPDATE</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button (click)="deletePrompt(item.item_name)" expand="block" color="primary">DELETE</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <!--模态窗口，用于Update Form-->
        <ion-modal [isOpen]="updateModelStatu">
          <ng-template>
            <ion-card *ngIf="checkedItem" class="update-form-card">
              <ion-card-header>
                <ion-card-title class="update-form-title">Update Form</ion-card-title>
              </ion-card-header>
              <form (ngSubmit)="updateItem()" class="update-form">
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Item Name(Readonly)</ion-label>
                  <ion-input [(ngModel)]="checkedItem.item_name" name="item_name" required class="form-input"
                    readonly></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Item ID(Readonly)</ion-label>
                  <ion-input [(ngModel)]="checkedItem.item_id" name="item_id" required class="form-input" type="number"
                    readonly></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Category</ion-label>
                  <ion-select [(ngModel)]="checkedItem.category" name="category" required class="form-select">
                    <ion-select-option value="Electronics">Electronics</ion-select-option>
                    <ion-select-option value="Furniture">Furniture</ion-select-option>
                    <ion-select-option value="Clothing">Clothing</ion-select-option>
                    <ion-select-option value="Tools">Tools</ion-select-option>
                    <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Quantity</ion-label>
                  <ion-input type="number" [(ngModel)]="checkedItem.quantity" name="quantity" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Price</ion-label>
                  <ion-input type="number" [(ngModel)]="checkedItem.price" name="price" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Supplier</ion-label>
                  <ion-input [(ngModel)]="checkedItem.supplier_name" name="supplier_name" required
                    class="form-input"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Stock Status</ion-label>
                  <ion-select [(ngModel)]="checkedItem.stock_status" name="stock_status" required class="form-select">
                    <ion-select-option value="In stock">In Stock</ion-select-option>
                    <ion-select-option value="Low stock">Low Stock</ion-select-option>
                    <ion-select-option value="Out of stock">Out of Stock</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Feature</ion-label>
                  <ion-select [(ngModel)]="checkedItem.featured_item" name="featured_item" required class="form-select">
                    <ion-select-option [value]="0">Normal</ion-select-option>
                    <ion-select-option [value]="1">Featured</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item class="form-item">
                  <ion-label position="floating" class="form-label">Special Note</ion-label>
                  <ion-input [(ngModel)]="checkedItem.special_note" name="special_note" class="form-input"></ion-input>
                </ion-item>
                <div class="form-buttons">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                        <ion-button type="submit" expand="block" class="submit-button">Update</ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button (click)="closeUpdateModel()" expand="block" class="cancel-button">Close</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </form>
            </ion-card>
          </ng-template>
        </ion-modal>
      </div>
      <div *ngIf="sidebarView === 'add'">
        <ion-card>
          <ion-card-header>Add Form</ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="addNewItem()">
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Item Name</ion-label>
                <ion-input [(ngModel)]="newItem.item_name" name="item_name" required class="form-input"></ion-input>
              </ion-item>
              <!--
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Item ID</ion-label>
                <ion-input [(ngModel)]="newItem.item_id" name="item_id" required class="form-input"
                  type="number"></ion-input>
              </ion-item>
              -->
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Category</ion-label>
                <ion-select [(ngModel)]="newItem.category" name="category" required class="form-select">
                  <ion-select-option value="Electronics">Electronics</ion-select-option>
                  <ion-select-option value="Furniture">Furniture</ion-select-option>
                  <ion-select-option value="Clothing">Clothing</ion-select-option>
                  <ion-select-option value="Tools">Tools</ion-select-option>
                  <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Quantity</ion-label>
                <ion-input type="number" [(ngModel)]="newItem.quantity" name="quantity" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Price</ion-label>
                <ion-input type="number" [(ngModel)]="newItem.price" name="price" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Supplier</ion-label>
                <ion-input [(ngModel)]="newItem.supplier_name" name="supplier_name" required
                  class="form-input"></ion-input>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Stock Status</ion-label>
                <ion-select [(ngModel)]="newItem.stock_status" name="stock_status" required class="form-select">
                  <ion-select-option value="In stock">In Stock</ion-select-option>
                  <ion-select-option value="Low stock">Low Stock</ion-select-option>
                  <ion-select-option value="Out of stock">Out of Stock</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Feature</ion-label>
                <ion-select [(ngModel)]="newItem.featured_item" name="featured_item" required class="form-select">
                  <ion-select-option [value]="0">Normal</ion-select-option>
                  <ion-select-option [value]="1">Featured</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="form-item">
                <ion-label position="floating" class="form-label">Special Note</ion-label>
                <ion-input [(ngModel)]="newItem.special_note" name="special_note" class="form-input"></ion-input>
              </ion-item>
              <ion-button type="submit" expand="block">Add Item</ion-button>
            </form>
          </ion-card-content>
        </ion-card>

      </div>
    </ion-content>
  </div>
</ion-content>